
<div class="container">
    <div class="text-center p-5">
      <h2>
        Laurine praise
        <br>
        <small class="text-muted ">My Github Repositories</small>
      </h2>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let repo of githubUserRepos">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{repo.name}}</h5>
            <p class="card-text">{{repo.description}}</p>
            <p class="card-number">{{repo.followers}}</p>
  
            <a href="{{repo.html_url}}" _target="blank" class="btn btn-info">View repo</a>
          </div>
        </div>
      </div>
  
     </div>
  </div>


  <style>
    
    
    .card{
        height: 240px;
        margin-bottom: 40px;
    }

  </style>