
<div class="container">
  <app-search-form (searchTerm)= "repoSearch($event)"></app-search-form>

    <div class="text-center p-5">
      <h2>
        <small class="text-muted ">Github Repositories</small>
      </h2>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let repo of repo">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Name:{{repo.name}}</h5>
            <p class="card-text">Descrition:{{repo.description}}</p>
            <p class="card-text">Language:{{repo.language}}</p>
  
            <a href="{{repo.html_url}}" _target="blank" class="btn btn-info">View repo</a>
          </div>
        </div>
      </div>
  
     </div>
  </div>
 






  <style>
    
    
    .card{
        height: 240px;
        margin-bottom: 50px;
    }

  </style> 





  



