<!-- <p>search-form works!</p> -->

<div class="container">
    <div class="row">
      <div class="col-sm-10">
        <form class="form-inline active-cyan-4" style="padding-top: 20px;">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Enter Github Username...."  name="userName" [(ngModel)]="userName">
          <button class="btn btn-info  btn-sm" type="submit">Search</button>
        </form>
      </div>
      <div class="col-ms-1"></div>
    </div>
  </div>
  
 